# Python 3 byte code stuff
__pycache__/

# IDE crap
.idea/
.vs/

# data
config.json
data/*
!data/README
!data/quotes.example.json
!data/skins.example.json

# plugins
plugins/*
!plugins/debug.py
!plugins/__init__.py
!plugins/lol

# Misc
cassiopeia/
util/
